In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [3]:
df

                   A         B         C         D
2013-01-01  0.752376 -0.559913  0.341742 -0.806313
2013-01-02 -0.027010  0.956048 -0.280529  0.567673
2013-01-03 -0.370760  0.139190 -0.241665 -0.107432
2013-01-04 -1.057841 -1.626205  1.126405  1.275410
2013-01-05  1.135656 -0.724761  0.203206 -0.822786
2013-01-06  3.290297  1.371702 -0.146214 -1.158788

In [4]:
df['A']

2013-01-01    0.752376
2013-01-02   -0.027010
2013-01-03   -0.370760
2013-01-04   -1.057841
2013-01-05    1.135656
2013-01-06    3.290297
Freq: D, Name: A, dtype: float64

In [5]:
df[0:3]

                   A         B         C         D
2013-01-01  0.752376 -0.559913  0.341742 -0.806313
2013-01-02 -0.027010  0.956048 -0.280529  0.567673
2013-01-03 -0.370760  0.139190 -0.241665 -0.107432

In [6]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.027010  0.956048 -0.280529  0.567673
2013-01-03 -0.370760  0.139190 -0.241665 -0.107432
2013-01-04 -1.057841 -1.626205  1.126405  1.275410