In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [3]:
df

                   A         B         C         D
2013-01-01 -0.665919 -0.276160  0.873574  0.651218
2013-01-02 -1.173739 -2.040529 -0.166556  0.011981
2013-01-03  0.048894  0.644729 -1.109416 -0.231427
2013-01-04  0.711578  0.142753 -0.993497  1.288146
2013-01-05 -0.583517 -0.450480  0.569175  0.284844
2013-01-06 -0.339383  0.405511 -0.616145  1.590436

In [4]:
df.loc[dates[0]]

A   -0.665919
B   -0.276160
C    0.873574
D    0.651218
Name: 2013-01-01 00:00:00, dtype: float64

In [5]:
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01 -0.665919 -0.276160
2013-01-02 -1.173739 -2.040529
2013-01-03  0.048894  0.644729
2013-01-04  0.711578  0.142753
2013-01-05 -0.583517 -0.450480
2013-01-06 -0.339383  0.405511

In [6]:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02 -1.173739 -2.040529
2013-01-03  0.048894  0.644729
2013-01-04  0.711578  0.142753

In [7]:
df.loc['20130102', ['A', 'B']]

A   -1.173739
B   -2.040529
Name: 2013-01-02 00:00:00, dtype: float64

In [8]:
df.loc[dates[0], 'A']

-0.6659189358412695

In [9]:
df.at[dates[0], 'A']

-0.6659189358412695