In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [3]:
df

                   A         B         C         D
2013-01-01  1.876926 -0.313850 -0.363512 -0.676668
2013-01-02  0.324871 -0.759049  0.305799  1.083828
2013-01-03 -0.320270  0.545192 -0.138017 -0.720649
2013-01-04 -1.198348  0.638038 -1.605505  0.304303
2013-01-05 -1.635226  1.703872  1.321640  1.519859
2013-01-06 -0.240708  0.352515 -0.602857  1.775002

In [4]:
df.loc[dates[0]]

A    1.876926
B   -0.313850
C   -0.363512
D   -0.676668
Name: 2013-01-01 00:00:00, dtype: float64

In [5]:
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01  1.876926 -0.313850
2013-01-02  0.324871 -0.759049
2013-01-03 -0.320270  0.545192
2013-01-04 -1.198348  0.638038
2013-01-05 -1.635226  1.703872
2013-01-06 -0.240708  0.352515

In [6]:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02  0.324871 -0.759049
2013-01-03 -0.320270  0.545192
2013-01-04 -1.198348  0.638038

In [7]:
df.loc['20130102', ['A', 'B']]

A    0.324871
B   -0.759049
Name: 2013-01-02 00:00:00, dtype: float64

In [8]:
df.loc[dates[0], 'A']

1.8769259041746784

In [9]:
df.at[dates[0], 'A']

1.8769259041746784