In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [3]:
df

                   A         B         C         D
2013-01-01 -1.084807  0.277371  0.021401 -0.514563
2013-01-02 -1.044795  3.138240 -0.681823 -1.811964
2013-01-03 -0.861207  0.067603  0.847323 -1.249823
2013-01-04 -0.636808 -0.388642  1.520679  0.420787
2013-01-05  0.966285  0.612398 -0.676519  0.716850
2013-01-06  0.537524 -0.143509 -1.324513  1.256252

In [4]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))

In [5]:
df['F'] = s1

In [6]:
df.at[dates[0], 'A'] = 0

In [7]:
df.iat[0, 1] = 0

In [8]:
df.loc[:, 'D'] = np.array([5] * len(df))

In [9]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.021401  5  NaN
2013-01-02 -1.044795  3.138240 -0.681823  5  1.0
2013-01-03 -0.861207  0.067603  0.847323  5  2.0
2013-01-04 -0.636808 -0.388642  1.520679  5  3.0
2013-01-05  0.966285  0.612398 -0.676519  5  4.0
2013-01-06  0.537524 -0.143509 -1.324513  5  5.0

In [10]:
df2 = df.copy()

In [11]:
df2[df2 > 0] = -df2

In [12]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.021401 -5  NaN
2013-01-02 -1.044795 -3.138240 -0.681823 -5 -1.0
2013-01-03 -0.861207 -0.067603 -0.847323 -5 -2.0
2013-01-04 -0.636808 -0.388642 -1.520679 -5 -3.0
2013-01-05 -0.966285 -0.612398 -0.676519 -5 -4.0
2013-01-06 -0.537524 -0.143509 -1.324513 -5 -5.0