In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [3]:
df

                   A         B         C         D
2013-01-01 -0.770855  0.806075 -0.484097  0.732893
2013-01-02 -1.042804 -0.968049  1.696214  0.367952
2013-01-03  0.561185  2.107495 -0.426919  0.819050
2013-01-04 -1.469046 -0.841669 -0.706107  1.077712
2013-01-05 -0.787684  1.676499  0.588437  0.050606
2013-01-06 -0.804691  0.102816  1.934582 -0.283555

In [4]:
df.mean()

A   -0.718983
B    0.480528
C    0.433685
D    0.460776
dtype: float64

In [5]:
df.mean(1)

2013-01-01    0.071004
2013-01-02    0.013328
2013-01-03    0.765202
2013-01-04   -0.484777
2013-01-05    0.381964
2013-01-06    0.237288
Freq: D, dtype: float64

In [6]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [7]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [8]:
df.sub(s, axis='index')

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03 -0.438815  1.107495 -1.426919 -0.180950
2013-01-04 -4.469046 -3.841669 -3.706107 -1.922288
2013-01-05 -5.787684 -3.323501 -4.411563 -4.949394
2013-01-06       NaN       NaN       NaN       NaN