In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [3]:
df

                   A         B         C         D
2013-01-01  1.465961  0.233426 -0.011409 -0.274242
2013-01-02  1.005200  0.993621 -0.160241 -0.910314
2013-01-03  0.068090  0.610543 -0.228241  0.128736
2013-01-04  1.636599 -1.401137  0.112654  1.184722
2013-01-05 -1.392122 -0.326427  0.454208 -1.262709
2013-01-06 -0.194832 -0.387510 -1.099068 -0.902478

In [4]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01  1.465961  0.233426 -0.011409 -0.274242
2013-01-02  2.471161  1.227047 -0.171650 -1.184556
2013-01-03  2.539252  1.837590 -0.399892 -1.055821
2013-01-04  4.175851  0.436453 -0.287238  0.128902
2013-01-05  2.783729  0.110026  0.166970 -1.133807
2013-01-06  2.588897 -0.277484 -0.932098 -2.036286

In [5]:
df.apply(lambda x: x.max() - x.min())

A    3.028722
B    2.394758
C    1.553277
D    2.447431
dtype: float64