In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [3]:
df

                   A         B         C         D
2013-01-01 -0.121933 -0.408542  2.470727 -1.356782
2013-01-02  0.163278  0.796242 -1.450847 -0.422967
2013-01-03  0.621626  0.836887 -0.618442 -0.387984
2013-01-04 -0.002512  0.273974  0.515936  0.114330
2013-01-05  1.044467 -0.687401 -0.421758 -0.155486
2013-01-06  0.057662  0.353853  0.264057  0.045018

In [4]:
 s = pd.Series(np.random.randint(0, 7, size=10))

In [5]:
s

0    2
1    2
2    3
3    5
4    3
5    2
6    4
7    1
8    6
9    5
dtype: int64

In [6]:
 s.value_counts()

2    3
5    2
3    2
6    1
4    1
1    1
dtype: int64

In [ ]:
s.value_counts().sort_values(by=["項目1"], ascending=True)