In [1]:
import numpy as np
import pandas as pd

In [2]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
   ....:                      'foo', 'foo', 'qux', 'qux'],
   ....:                     ['one', 'two', 'one', 'two',
   ....:                      'one', 'two', 'one', 'two']]))
   ....:

In [3]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [4]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [5]:
df2 = df[:4]

In [6]:
df2

                     A         B
first second
bar   one    -0.899268  0.425145
      two     0.248794  1.234016
baz   one    -0.849043 -0.978897
      two    -0.507225  0.305148

In [7]:
 stacked = df2.stack()

In [8]:
stacked

first  second
bar    one     A   -0.899268
               B    0.425145
       two     A    0.248794
               B    1.234016
baz    one     A   -0.849043
               B   -0.978897
       two     A   -0.507225
               B    0.305148
dtype: float64

In [9]:
stacked.unstack()

                     A         B
first second
bar   one    -0.899268  0.425145
      two     0.248794  1.234016
baz   one    -0.849043 -0.978897
      two    -0.507225  0.305148

In [10]:
stacked.unstack(1)

second        one       two
first
bar   A -0.899268  0.248794
      B  0.425145  1.234016
baz   A -0.849043 -0.507225
      B -0.978897  0.305148

In [11]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.899268 -0.849043
       B  0.425145 -0.978897
two    A  0.248794 -0.507225
       B  1.234016  0.305148