In [1]:
import numpy as np
import pandas as pd

In [6]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01 -0.907771  0.055728  0.462504 -1.589499
2013-01-02  0.898543 -0.110202 -1.478317 -0.824731
2013-01-03  1.415217 -0.028395  0.335062  0.439665
2013-01-04 -0.771471 -0.213046 -1.210456 -0.780223
2013-01-05  1.549928 -0.117930 -0.271697 -0.064717
2013-01-06 -0.345217  0.828445  0.032962 -0.585802

In [8]:
df.head()

                   A         B         C         D
2013-01-01 -0.907771  0.055728  0.462504 -1.589499
2013-01-02  0.898543 -0.110202 -1.478317 -0.824731
2013-01-03  1.415217 -0.028395  0.335062  0.439665
2013-01-04 -0.771471 -0.213046 -1.210456 -0.780223
2013-01-05  1.549928 -0.117930 -0.271697 -0.064717

In [9]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.771471 -0.213046 -1.210456 -0.780223
2013-01-05  1.549928 -0.117930 -0.271697 -0.064717
2013-01-06 -0.345217  0.828445  0.032962 -0.585802

In [10]:
 df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.to_numpy()

array([[-0.90777068,  0.05572766,  0.46250378, -1.58949891],
       [ 0.89854277, -0.11020218, -1.47831694, -0.82473133],
       [ 1.41521745, -0.02839496,  0.33506212,  0.43966536],
       [-0.77147112, -0.21304576, -1.2104555 , -0.78022321],
       [ 1.54992839, -0.11792962, -0.27169736, -0.06471749],
       [-0.34521687,  0.82844521,  0.03296185, -0.58580226]])

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.306538  0.069100 -0.354990 -0.567551
std    1.112393  0.382890  0.811862  0.696191
min   -0.907771 -0.213046 -1.478317 -1.589499
25%   -0.664908 -0.115998 -0.975766 -0.813604
50%    0.276663 -0.069299 -0.119368 -0.683013
75%    1.286049  0.034697  0.259537 -0.194989
max    1.549928  0.828445  0.462504  0.439665

In [14]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.907771    0.898543    1.415217   -0.771471    1.549928   -0.345217
B    0.055728   -0.110202   -0.028395   -0.213046   -0.117930    0.828445
C    0.462504   -1.478317    0.335062   -1.210456   -0.271697    0.032962
D   -1.589499   -0.824731    0.439665   -0.780223   -0.064717   -0.585802

In [15]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -1.589499  0.462504  0.055728 -0.907771
2013-01-02 -0.824731 -1.478317 -0.110202  0.898543
2013-01-03  0.439665  0.335062 -0.028395  1.415217
2013-01-04 -0.780223 -1.210456 -0.213046 -0.771471
2013-01-05 -0.064717 -0.271697 -0.117930  1.549928
2013-01-06 -0.585802  0.032962  0.828445 -0.345217

In [16]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04 -0.771471 -0.213046 -1.210456 -0.780223
2013-01-05  1.549928 -0.117930 -0.271697 -0.064717
2013-01-02  0.898543 -0.110202 -1.478317 -0.824731
2013-01-03  1.415217 -0.028395  0.335062  0.439665
2013-01-01 -0.907771  0.055728  0.462504 -1.589499
2013-01-06 -0.345217  0.828445  0.032962 -0.585802